body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0; 
    background-color: #000000;
}

@media(min-width: 320px){
  .container{
      width: 70%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr ;
      grid-template-areas: 
      "nb"
      "hd"
      "bl"
      "main"
      "ft";
      background-color: #444;
      grid-gap: 20px;
      overflow: hidden;
    }
  }

  .nestedGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 5px;
  }

  .nestedGrid > *{
    border: 2px solid #000000;
    background-color: #666;
  }

  header{
    background-image: url('images/logo.png');
    background-size: 100%;
    color: rgb(87, 3, 3);
    grid-area:hd;
  }

  nav{
    grid-area: nb;
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: baseline;
    border: 2px solid #000000;
    max-height: 100px;
  }

  nav ul{
    margin: 0px;
    padding: 0px;
  }

  nav li{
    display: inline;
    padding: 0px 20px 0px 20px;
  }

  article{
    grid-area: bl;
  }

  section{
    grid-area: main;
  }

  footer{
      grid-area: ft;  
  }

  @media(min-width: 900px) {
  .container{
        width: 70%;
        margin: 100px;
        padding: 0px;
        display: grid;
        grid-template-columns: (repeat 3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "nb nb nb nb nb nb nb nb"
        "hd hd hd hd hd hd bl bl"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
        border: 2px solid #444;
    }
  }